
#mapContainer {
  height: 600px;
  width: 1300px;
  background: lightgray;
  margin: 0 auto;
}

#sidebar {
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 20 px;
  background-color:#1CDDEC;
  overflow: scroll;
}

.info-box {
  top: 2px;
  left: 5px;
  z-index: 10;
  background-color: #EEEEEE;
  padding: 15px;
  padding-top: 10px;
  margin-bottom:15px
}

#interactive-box {
  background-color: #EEEEEE;
}


.legend {
  line-height: 18px;
}

.labels {
  font-size: 14px;
}

.labels-1 {
  font-size: 12px;
}

.labels-2 {
  font-size: 12px;
}

h3 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 25px;
}

h4 {
  margin-top: 3px;
  margin-bottom: 6px;
}



button {
  background-color: #1E40E0;
  margin-top: 8px;
  margin-bottom: 12px;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Nunito';
}

.legend-color-box {
  height: 17px;
  width: 17px;
  float: left;
  margin-right: 10px;
}



button:focus {
  background-color: #E79F48;
}
